.user-info {
  margin: 20px;
}

.user-info-container {
  width: 50%;
  height: 100%;
  align-self: center;
  align-items: center;
}

.site-label {
  margin-left: 16px;
  cursor: pointer;
}

.buy-tokens-container{
  align-items: center;
}
.tokens-container{
  align-items: center;
  div{
    padding: 10px;
  }
}