<div class="container flex-row flex-between">
    <div class="site-label flex-column flex-center" (click)="navigateHome()">
        <h1>
            Marketplace App
        </h1>
    </div>

    <div *ngIf="loggedIn" class="user-info-container flex-column flex-start">
        <div class="user-info">
            <label>Name:</label>
            {{user.name}}
        </div>
        <div class="user-info">
            <label>Role:</label>
            {{roleOf(user.role)}}
        </div>
    </div>
</div>