<div *ngIf="task === undefined">
    <p>no task selected</p>
</div>

<div *ngIf="task !== undefined">

    <mat-card>

        <mat-card-title>Address</mat-card-title>
        <mat-card-content>


            <table mat-table [dataSource]="[task]" class="mat-elevation-z8">

                <ng-container matColumnDef="evaluatorAddress">
                    <th mat-header-cell *matHeaderCellDef> evaluatorAddress </th>
                    <td mat-cell *matCellDef="let element"> {{element.evaluatorAddress}} </td>
                </ng-container>

                <ng-container matColumnDef="freelancerAddress">
                    <th mat-header-cell *matHeaderCellDef> freelancerAddress </th>
                    <td mat-cell *matCellDef="let element"> {{element.freelancerAddress}} </td>
                </ng-container>

                <ng-container matColumnDef="managerAddress">
                    <th mat-header-cell *matHeaderCellDef> managerAddress </th>
                    <td mat-cell *matCellDef="let element"> {{element.managerAddress}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedAddress"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedAddress;"></tr>
            </table>

        </mat-card-content>

    </mat-card>



    <mat-card>

        <mat-card-title>Task details</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>


            <table mat-table [dataSource]="[task]" class="mat-elevation-z8">


                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="freelancerReward">
                    <th mat-header-cell *matHeaderCellDef> Freelancer Reward </th>
                    <td mat-cell *matCellDef="let element"> {{element.freelancerReward}} </td>
                </ng-container>

                <ng-container matColumnDef="evaluatorReward">
                    <th mat-header-cell *matHeaderCellDef> Evaluator Reward </th>
                    <td mat-cell *matCellDef="let element"> {{element.evaluatorReward}} </td>
                </ng-container>

                <ng-container matColumnDef="currentFunding">
                    <th mat-header-cell *matHeaderCellDef> Current Funding </th>
                    <td mat-cell *matCellDef="let element"> {{element.currentFunding}} </td>
                </ng-container>

                <ng-container matColumnDef="domainExpertise">
                    <th mat-header-cell *matHeaderCellDef> Domain Expertise </th>
                    <td mat-cell *matCellDef="let element"> {{ getDomainExpertize(element.domainExpertise) }} </td>
                </ng-container>

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> Index </th>
                    <td mat-cell *matCellDef="let element"> {{element.index}} </td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> State </th>
                    <td mat-cell *matCellDef="let element"> {{ getTaskState(element.state) }} </td>
                </ng-container>

                <ng-container matColumnDef="investorsCount">
                    <th mat-header-cell *matHeaderCellDef> Investors Count </th>
                    <td mat-cell *matCellDef="let element"> {{element.investorsCount}} </td>
                </ng-container>

                <ng-container matColumnDef="applicationsCount">
                    <th mat-header-cell *matHeaderCellDef> Applications Count </th>
                    <td mat-cell *matCellDef="let element"> {{element.applicationsCount}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayInfo"></tr>
                <tr mat-row *matRowDef="let row; columns: displayInfo;"></tr>
            </table>

        </mat-card-content>

    </mat-card>




    <div *ngIf="isManager()">

       <app-manager-action [task]="task"></app-manager-action>

    </div>

    <div *ngIf="isFreelancer()">

        FREELANCER
        <app-freelacer-action [task]="task"></app-freelacer-action>
    </div>

    <div *ngIf="isEvaluator()">

        EVALUATOR
        <app-evaluator-action ></app-evaluator-action>
    </div>

    <div *ngIf="isInvestor()">

        INVESTOR
        <app-investor-action></app-investor-action>

    </div>

</div>