<p></p>

<div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:2em;" >

    <button mat-raised-button color="accent" (click)="joinAsManager()">Join as Manager</button>

    <button mat-raised-button color="accent" (click)="joinAsInvestor()">Join as Investor</button>

    <button mat-raised-button color="accent" (click)="joinAsEvaluator()">Join as Evaluator</button>

    <button mat-raised-button color="accent" (click)="joinAsFreelancer()">Join as Freelancer</button>

    <button mat-raised-button color="accent" (click)="getUser()">Get user</button>

    <button mat-raised-button color="accent" (click)="myCall()">Milea Test</button>

</div>