<form class="container flex-column flex-center">
    <div>
        <mat-form-field appearance="fill" class="selection-item">
            <mat-label>Choose a name</mat-label>
            <input required matInput name='name' [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field appearance="fill" class="selection-item">
            <mat-label>Domain expertise</mat-label>
            <mat-select name='domainExpertise' [(ngModel)]="domainExpertise">
                <mat-option *ngFor="let domain of domains" [value]="domain">
                    {{domain}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="error !== undefined">
        <i class="error">{{error}}</i>
    </div>
    <div class="flex-row flex-center">
        <div class="selection-item">
            <button mat-raised-button color="accent" (click)="join(3)">Join as Manager</button>
        </div>
        <div class="selection-item">
            <button mat-raised-button color="accent" (click)="join(0)">Join as Investor</button>
        </div>
        <div class="selection-item">
            <button mat-raised-button color="accent" (click)="join(2)">Join as Evaluator</button>
        </div>
        <div class="selection-item">
            <button mat-raised-button color="accent" (click)="join(1)">Join as Freelancer</button>
        </div>
    </div>
</form>